<section class="container-xl my-5">

  <h2 class="text-secondary text-center">請輸入你的支出</h2>
  <p class="text-primary text-center">＊為必填欄位</p>

  {{!-- 表單 --}}
  <form class="container mt-5" action="/record" method="POST"needs-validation >

    <div class="row justify-content-center align-items-center mb-4">
      <label for="name" class="col-2 col-form-label col-form-label-lg">名稱<span>*</span>：</label>
      <div class="col-4">
        <input type="text" class="form-control" id="name" name="name" placeholder="請輸入支出項目名稱" autofocus required>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mb-4">
      <label for="date" class="col-2 col-form-label col-form-label-lg">日期<span>*</span>：</label>
      <div class="col-4">
        <input type="date" class="form-control" id="date" name="date" placeholder="{{ todayISOFormat }}"
          value="{{ todayISOFormat }}" required>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mb-4">
      <label for="category" class="col-2 col-form-label col-form-label-lg">日期<span>*</span>：</label>
      <div class="col-4">
        <select name="category" id="category" class="form-select" required>
          <option>請選擇支出類別</option>
          <option value="家居物業"></i> 家居物業</option>
          <option value="交通出行"></i> 交通出行</option>
          <option value="休閒娛樂"></i> 休閒娛樂</option>
          <option value="餐飲食品"></i> 餐飲食品</option>
          <option value="其他"></i> 其他</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-center align-items-center mb-4">
      <label for="amount" class="col-2 col-form-label col-form-label-lg">金額<span>*</span>：</label>
      <div class="col-4">
        <input type="number" class="form-control" id="amount" name="amount" min="0" step="1" placeholder="請輸入支出項目金額"
          required>
      </div>
    </div>

    {{!-- 按鈕 --}}
    <div class="col-12 text-center mt-5">
      <button type="submit" class="btn btn-lg w-25" style="background: Tomato; color: snow;">新增支出</button>
    </div>

  </form>
</section>