  <h2 class="text-subject">請輸入你的支出</h2>
  <p class="text-remind">＊為必填欄位</p>

  {{!-- 表單 --}}
  <form class="container mt-5" action="/record" method="POST" needs-validation>

    <div class="row ">
      <label for="name" class="col-12 col-sm-3 col-md-2 col-form-label col-form-label-lg">名稱<span>&thinsp;*</span>：</label>
      <div class="col-12 col-sm-8">
        <input type="text" class="form-control" id="name" name="name" maxlength="12" placeholder="最多可輸入12個字" autofocus required>
      </div>
    </div>

    <div class="row">
      <label for="date" class="col-12 col-sm-3 col-md-2 col-form-label col-form-label-lg">日期<span>&thinsp;*</span>：</label>
      <div class="col-12 col-sm-8">
        <input type="date" class="form-control" id="date" name="date" placeholder="{{ todayTW }}" value="{{ todayTW }}" required>
      </div>
    </div>

    <div class="row">
      <label for="category" class="col-12 col-sm-3 col-md-2 col-form-label col-form-label-lg">類別<span>&thinsp;*</span>：</label>
      <div class="col-12 col-sm-8">
        <select name="category" id="category" class="form-select" required>
          <option value="家居物業">家居物業</option>
          <option value="交通出行">交通出行</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="其他">其他</option>
        </select>
      </div>
    </div>

    <div class="row">
      <label for="amount" class="col-12 col-sm-3 col-md-2 col-form-label col-form-label-lg">金額<span>&thinsp;*</span>：</label>
      <div class="col-12 col-sm-8">
        <div class="input-group">
          <span class="input-group-text">NT＄</span>
          <input type="number" class="form-control" id="amount" name="amount" min="1" step="1" max="999999" placeholder="單筆金額須低於10萬元" required>
        </div>
      </div>
    </div>

    {{!-- 按鈕 --}}
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-lg btn-major">新增支出</button>
    </div>

  </form>